
.widget {
    position: relative;
    width: 100vw;
    height: 776px;
}

.background {
    position: relative;
    z-index: 100;
}

.zara1 {
    position: absolute;
    width: 732px;
    height: 309px;
    right: 0;
    top: 100px;
    z-index: 200;
}

.zara2 {
    position: absolute;
    right: 655px;
    top: 275px;
    z-index: 300;
}

.zara-title {
    position: absolute;
    width: 504px;
    height: 187px;
    right: 340px;
    top: 400px;
    z-index: 300;

    /* Paragraph */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;
    /* or 154% */

    text-transform: capitalize;

    /* Primary */

    color: #FF6F61;
}
.zara-btn{
    position: absolute;
    right: 460px;
    top: 615px;
    z-index: 300;
}