header {
  width: 100vw;
  height: 59px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 22px;
  gap: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.brand {
  font-family: 'AmstelvarAlpha';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;

  /* Dark */

  color: #000000;
}

.header-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 22px;
}

a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  text-transform: capitalize;

  text-decoration: none;
  color: #1E2832;
}

a:hover{
  color: #FF6F61;
}
